
.alert {
    padding:10px;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-dialog button {
    padding: 8px 16px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
}

nav {
    border-bottom: 1px solid #ddd;
}

.fgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px 30px;
    align-items:center;
}

.fgrid input {
    margin: 0;
}

.form-errors-details {
    color: red;
}

.inline-edit-form {
    display: none;
}

.inline-edit-form .form-group {
    display: flex;
    align-items: center;
}

.inline-edit-form .form-group input {
    padding: 2px 4px;
    margin: 0;
    height: auto;
}

.inline-edit-form .controls {
    display: flex;
    flex-direction: column;
    padding: 2px;
    font-size: 13px;
}
